for_window [class="vlc"] floating enable
for_window [class="Gpick"] floating enable
for_window [window_type="menu"] floating enable
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="(Pp)references"] floating enable
for_window [window_type="dialog"] floating enable

for_window [app_id=".*nm-.*"] floating enable
for_window [class="TelegramDesktop"] floating enable
for_window [app_id="telegramdesktop"] floating enable

for_window [app_id="wdisplays"] floating enable
for_window [app_id="firefox" title="Picture-in-Picture"] floating enable, sticky enable

for_window [class="com-st-microxplorer-maingui-STM32CubeMX" title="win0"] floating enable
