[alias]
    sgraph = graph --stat
    graph = log --graph --oneline --color --all --date-order --decorate
    sgraph1 = graph1 --stat
    sgraph2 = graph2 --stat
    sgraph3 = graph3 --stat
    graph1 = graph1-specific --all
    graph2 = graph2-specific --all
    graph3 = graph3-specific --all
    graph1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    graph2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    graph3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    vdiff= difftool --patience
[user]
	name = Simone Ruffini
	email = {{ .email }}
[difftool]
  tool = nvimdiff
  prompt = false
[merge]
  tool = nvimdiff
[pager]
	branch = false
[include]
    path = ./private_config
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master

[core]
	autocrlf = input
